body {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    width: 1000px;
    margin: 30px auto;
}


/* ヘッダー */
.header {
    width: 1000px;
    height: 120px;
}

.header-logo {
    width: 200px;
    height: 120px;
    background-color: #add8e6;
    float: left;
}

.logo-img {
    width: 200px;
    height: 120px;
}

.header-upper {
    width: 800px;
    height: 60px;
    background-color: #87ceeb;
    float: right;
    text-align: right;
    line-height: 60px;
}

.header-lower {
    width: 800px;
    height: 60px;
    background-color: #00ffff;
    float: right;
    text-align: right;
    line-height: 60px;
}

/* メイン */
table {
    margin: 10px auto;
}

thead {
    background-color: #87ceeb;
}

tbody {
    background-color: #e0ffff;
}



/* フッター */
.footer {
    width: 1000px;
    height: 50px;
    background-color: #00ced1;
}